<template>
	<v-dialog
		v-model="dialog"
		max-width="500px">
		<v-card>
			<v-card-text>
				Borrowed on: {{new Date(data.added).toLocaleDateString()}}
				<v-list>
					<v-list-tile v-for="item in data.properties" :key="item.title">
						<v-list-tile-title>
							{{item.title}}
						</v-list-tile-title>
						<v-list-tile-action>
							<v-text-field v-model="item.value"></v-text-field>
						</v-list-tile-action>
					</v-list-tile>
					</v-list-tile>
				</v-list>
			</v-card-text>

			<v-card-actions>
				<v-spacer></v-spacer>
				<v-btn flat @click="dialog = false">Close</v-btn>
				<v-btn flat @click="save">Save</v-btn>
			</v-card-actions>
		</v-card>
	</v-dialog>
</template>

<script>
export default {
  data() {
    return {
      dialog: true,
      data: this.$store.getters["data/item"](this.$route.params.id)
    };
  },
  watch: {
    dialog: {
      handler() {
        this.$router.go(-1);
      }
    }
  },
  methods: {
    save() {
      if (this.$route.params.id == -1)
        this.$store.commit("data/store", this.data);
      else
        this.$store.commit("data/edit", {
          id: this.$route.params.id,
          data: this.data
        });

      this.dialog = false;
    }
  }
};
</script>

<style>
</style>
