<template>
<v-container fluid grid-list-md id="list-con">
  <v-btn
    fab
    bottom
    right
    fixed
    color="red"
    @click="create">
    <v-icon>add</v-icon>
  </v-btn>
  <v-data-iterator
    :items="items"
    row
    wrap
    :rows-per-page-items="perPage"
    content-tag="v-layout">
    <v-flex
      slot="item"
      slot-scope="props"
      lg3
      md4
      sm6
      xs12>
      <v-card
				hover
				ripple
				@click.native="open(props.index)">
				<v-card-title>
					<h3>{{props.item.properties[0].value}}</h3>
					<v-spacer></v-spacer>
					{{new Date(props.item.added).toLocaleDateString()}}
				</v-card-title>
      </v-card>
    </v-flex>
  </v-data-iterator>
	<router-view></router-view>
</v-container>
</template>

<script>
export default {
  methods: {
    create() {
      this.$router.push("/-1");
    },
    open(id) {
      this.$router.push("/" + id);
    }
  },
  computed: {
    items: {
      get() {
        console.log(this.$store.getters["data/items"]);
        return this.$store.getters["data/items"];
      }
    },
    perPage: {
      get() {
        return [this.$store.getters["options/perPage"]];
      }
    }
  },
  watch: {}
};
</script>

<style>
#list-con {
  margin-bottom: 65px;
}
</style>
