<template>
<v-container fluid>
	<v-list subheader>
		<v-subheader>Display settings</v-subheader>
		<v-list-tile>
			<v-list-tile-title>
				Dark mode
			</v-list-tile-title>
			<v-list-tile-action>
				<v-switch v-model="dark"></v-switch>
			</v-list-tile-action>
		</v-list-tile>
		<v-list-tile>
			<v-list-tile-title>
				Items per page
			</v-list-tile-title>
			<v-list-tile-action>
				<v-select label="Items per page" :items="perPageOptions" solo v-model="perPage"></v-select>
			</v-list-tile-action>
		</v-list-tile>
	</v-list>
</v-container>
</template>

<script>
export default {
  data: () => ({
    perPageOptions: [4, 8, 12, 16, 24, 32]
  }),
  computed: {
    dark: {
      get() {
        return this.$store.getters["options/dark"];
      },
      set(value) {
        this.$store.commit("options/dark", value);
      }
    },
    perPage: {
      get() {
        return this.$store.getters["options/perPage"];
      },
      set(value) {
        this.$store.commit("options/perPage", value);
      }
    }
  }
};
</script>

<style>
</style>
