<template>
  <v-app :dark="dark">
		<v-toolbar app>
			<v-btn
				icon
				@click.stop="drawer = !drawer">
				<v-icon>menu</v-icon>
			</v-btn>
			<v-toolbar-title v-text="title"></v-toolbar-title>
		</v-toolbar>

		<v-navigation-drawer
      v-model="drawer"
      absolute
      temporary>
			<v-toolbar flat>
				<v-list>
					<v-list-tile>
						<v-list-tile-title class="title">
							{{title}}
						</v-list-tile-title>
					</v-list-tile>
				</v-list>
			</v-toolbar>
			<v-list class="pt-0" dense>
				<v-divider></v-divider>
				<v-list-tile
					@click="home">
					<v-list-tile-title>Home</v-list-tile-title>
				</v-list-tile>
				<v-divider></v-divider>
				<v-list-tile
					@click="options">
					<v-list-tile-title>Options</v-list-tile-title>
				</v-list-tile>
			</v-list>
  	</v-navigation-drawer>

    <v-content>
      <router-view/>
    </v-content>
  </v-app>
</template>

<script>
export default {
  name: "App",
  data: () => ({
    title: "Borrow",
    drawer: false
  }),
  computed: {
    dark() {
      return this.$store.getters["options/dark"];
    }
  },
  methods: {
    home() {
      this.$router.push({ name: "home" });
    },
    options() {
      this.$router.push({ name: "options" });
    }
  }
};
</script>
